.cards-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Set 5 equal columns per line */
    gap: 10px;
    padding: 20px;
    overflow: hidden;
    height: 100%; /* Set the height of the container to 100% */
  }
  .card {
    position: relative;
  }
  
  .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border: 2px solid #ffff;
    border-radius: 6px;
  }
  

.card .front {
    transform: rotateY(90deg);
    transition: all ease-in 0.2s;
    position: absolute;
}

.flipped .front {
    transform: rotateY(0deg);
    transition-delay: 0.2s;    
}


.card .back {
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
}

.flipped .back {
    transform: rotateY(90deg);
    transition-delay: 0s
}